# Configuração da Aplicação
PORT=3000

# Conexão com o Banco de Dados PostgreSQL (Docker)
DATABASE_URL=postgresql://postgres:PASSWORD@postgres:5432/postgres

# Configurações da Evolution API (WhatsApp no Docker)
evolutionApiUrl=http://evolution-api:8080
apiKey=42960010389
INSTANCE_NAME=jobScraperBot
WHATSAPP_NUMBER=5511999999999

# Apify (Scraping de vagas via API)
APIFY_URL=
